* {box-sizing:border-box;}

body{
 background: #506886;
 color: #fff;
 font-weight: normal;
 font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

#chat_wrapper{
    width: 50%;
}

#chat_wrapper > form > input{
    width: 100%;
    padding: 10px;

    background-color: #537386;

    color: #fff;
    font-size: 1.1rem;

}

#chat_room {
    height: 70vh;
    overflow: scroll;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
}
